<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Formulário de Cadastro</title>
    <meta name="google-site-verification" content="Youb92PhbExzqsaMZcMz_pov-4Qf9R0Vsnn4M0k8F8M" />
</head>

<body>

    <form action="/" method="POST" enctype="multipart/form-data">
        
        <script src="https://accounts.google.com/gsi/client" async ></script>
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>

        <script>
            // Função para lidar com a resposta do Google
            function handleCredentialResponse(response) {
                try {
                    // Decodificando o JWT
                    const data = jwt_decode(response.credential); 
                    console.log("Usuário autenticado:", data);

                    email.textContent = data.email
                } catch (error) {
                    console.error("Erro ao processar a resposta do Google:", error);
                }
            }
    
            window.onload = function () {
                // Inicializando o Google Sign-In
                google.accounts.id.initialize({
                    client_id: "527545051913-i5fu8efhe0v84f1j627mg3klqoksl0cj.apps.googleusercontent.com", // Substitua com seu client_id do Google
                    callback: handleCredentialResponse  // Função que será chamada após login
                });
    
                // Renderiza o botão do Google Sign-In
                google.accounts.id.renderButton(
                    document.getElementById("buttonDiv"),
                    {
                        theme: "outline", 
                        size: "large", 
                        type: "standard", 
                        shape: "pill", 
                        text: "continue_with", 
                        logo_alignment: "left"
                    }
                );
            }
        </script>

        
        <div class="form-box">
        <label>Procedimentos de login</label>
        <hr>
        <div class="account-info">
            <div id="buttonDiv"></div>
            <p id="email"></p>
            <span id="cima">O nome, a foto e o e-mail associados à sua Conta do Google serão registrados quando você fizer upload de arquivos e enviar este formulário.</span>
            <hr>
            <span id="indica">* Indica uma pergunta obrigatória</span>
            
        </div>
        </div>
        

        <div class="form-box">
            <img src="/static/css/image/logo.png" alt="Logo da Empresa" class="logo">
        </div>
        <!-- Nome Completo -->
        <div class="form-box">
            <label>Nome Completo:  <span class="asterisco">*</span></label>
            <text>Preencha seu Nome Completo sem Abreviar conforme está no RG</text>
            <input type="text" name="nome" required placeholder="Sua resposta">
            
            

        </div>

        <!-- Data de Nascimento -->
        <div class="form-box">
            <label>Data de Nascimento:  <span class="asterisco">*</span></label>
            <text>Preencha sua Data de Nascimento</text>
            <input type="date" name="nascimento" required>        
            
        </div>

        <!-- CPF -->
        <div class="form-box">
            <label>CPF:  <span class="asterisco">*</span></label>
            <text>Preencha somente com números sem pontuação</text>
            <input type="text" name="cpf" required placeholder="Sua resposta">       
        </div>

        <!-- RG -->
        <div class="form-box">
            <label>RG:  <span class="asterisco">*</span></label>
            <text>Preencha seu RG com Orgão Expedidor (Ex. SSP-PR / SEJUSP-PR) </text>
            <input type="text" name="rg" required placeholder="Sua resposta">
        </div>

        <!-- PIS -->
        <div class="form-box">
            <label>PIS:  <span class="asterisco">*</span></label>
            <text>Preencha somente o número de PIS, você encontra ele na carteira de trabalho ou no App Caixa Tem</text>
            <input type="text" name="pis" required placeholder="Sua resposta">
        </div>

        <!-- Endereço -->
        <div class="form-box">
            <label>Endereço:  <span class="asterisco">*</span></label>
            <text>Preencha com Endereço Completo e Bairro (Rua, Av, TV, Praça...)</text>
            <input type="text" name="endereco" required placeholder="Sua resposta">
        </div>

        <!-- CEP -->
        <div class="form-box">
            <label>CEP:  <span class="asterisco">*</span></label>
            <input type="text" name="cep" required placeholder="Sua resposta">
        </div>

        <!-- Cidade -->
        <div class="form-box">
            <label>Cidade:  <span class="asterisco">*</span></label>
            <input type="text" name="cidade" required placeholder="Sua resposta">
        </div>

        <!-- Estado -->
        <div class="form-box">
            <label>Estado:  <span class="asterisco">*</span></label>
            <input type="text" name="estado" required placeholder="Sua resposta">
        </div>

        <!-- Celular -->
        <div class="form-box">
            <label>Celular:  <span class="asterisco">*</span></label>
            <input type="text" name="celular" required placeholder="Sua resposta">
        </div>

        <!-- Email -->
        <div class="form-box">
            <label>Email:  <span class="asterisco">*</span></label>
            <input type="text" name="email" required placeholder="Sua resposta">
        </div>

        <!-- Estado Civil -->
        <div class="form-box">
            <label>Estado Civil:  <span class="asterisco">*</span></label>
            <div>
                <class = input type="radio" name="estado_civil" value="Solteiro(a)" required> Solteiro(a)<br>
                <input type="radio" name="estado_civil" value="Solteiro(a)"> Solteiro(a)<br>
                <input type="radio" name="estado_civil" value="Casado(a)"> Casado(a)<br>
                <input type="radio" name="estado_civil" value="Viúvo(a)"> Viúvo(a)<br>
                <input type="radio" name="estado_civil" value="Divorciado(a)"> Divorciado(a)<br>
                <input type="radio" name="estado_civil" value="União Estável"> União Estável
            </div>
        </div>

        <!-- Raça/Cor -->
        <div class="form-box">
            <label>Raça/Cor:  <span class="asterisco">*</span></label>
            <text>Preencha de Acordo com a Certidão de Nascimento</text>
            <div>
                <input type="radio" name="raca_cor" value="Branca" required> Branca<br>
                <input type="radio" name="raca_cor" value="Preta"> Preta<br>
                <input type="radio" name="raca_cor" value="Parda"> Parda<br>
                <input type="radio" name="raca_cor" value="Amarela"> Amarela<br>
                <input type="radio" name="raca_cor" value="Indígena"> Indígena
            </div>
        </div>

        <!-- Uniforme Camisa Social -->
        <div class="form-box">
            <label>Uniforme Camisa Social:  <span class="asterisco">*</span></label>
            <div>
                <input type="radio" name="camisa_social" value="PP" required> PP<br>
                <input type="radio" name="camisa_social" value="P"> P<br>
                <input type="radio" name="camisa_social" value="M"> M<br>
                <input type="radio" name="camisa_social" value="G"> G<br>
                <input type="radio" name="camisa_social" value="GG1"> GG1<br>
                <input type="radio" name="camisa_social" value="GG2"> GG2<br>
                <input type="radio" name="camisa_social" value="GG3"> GG3
            </div>
        </div>

        <!-- Uniforme Polo -->
        <div class="form-box">
            <label>Uniforme Polo:  <span class="asterisco">*</span></label>
            <div>
                <input type="radio" name="camisa_polo" value="PP" required> PP<br>
                <input type="radio" name="camisa_polo" value="P"> P<br>
                <input type="radio" name="camisa_polo" value="M"> M<br>
                <input type="radio" name="camisa_polo" value="G"> G<br>
                <input type="radio" name="camisa_polo" value="GG1"> GG1<br>
                <input type="radio" name="camisa_polo" value="GG2"> GG2<br>
                <input type="radio" name="camisa_polo" value="GG3"> GG3<br>
                <input type="radio" name="camisa_polo" value="GG4"> GG4
            </div>
        </div>
        <div class="form-box">
            <label for="cnh">Foto da CNH ou RG:  <span class="asterisco">*</span></label>
            <text>Foto ou PDF(Obrigatório frente e verso do documento.)</text>
            <input type="file" id="cnh" name="cnh" accept="image/*,application/pdf" capture="camera" required>
        </div>
        

        <!-- Primeiro Emprego -->
        <div class="form-box">
            <label>Primeiro Emprego? <span class="asterisco">*</span></label>
            <div>
                <input type="radio" name="primeiro_emprego" value="Sim" required> Sim<br>
                <input type="radio" name="primeiro_emprego" value="Não"> Não
            </div>
        </div>

        <div class="form-box">
            <label>Irá utilizar vale tansporte?  <span class="asterisco">*</span></label>
            <div>
                <input type="radio" name="vale_transporte" value="Sim" required> Sim<br>
                <input type="radio" name="vale_transporte" value="Não"> Não
            </div>
        </div>
        <!-- Botões -->

            <button type="submit" class="submit-btn">Enviar</button>
            <button type="reset" class="reset-btn">Limpar Formulário</button>
        
        
    </form>
</body>
</html>


