<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Formulário de Cadastro</title>
    <meta name="google-site-verification" content="Youb92PhbExzqsaMZcMz_pov-4Qf9R0Vsnn4M0k8F8M" />
    <script src="https://accounts.google.com/gsi/client" async ></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tesseract.js@2.0.0-beta.3/dist/tesseract.min.js"></script>

</head>
<body>

    <form action="/" method="POST" enctype="multipart/form-data">
        
        <script>
            // Função para lidar com a resposta do Google
            function handleCredentialResponse(response) {
                try {
                    // Decodificando o JWT
                    const data = jwt_decode(response.credential); 
                    console.log("Usuário autenticado:", data);

                    email.textContent = data.email
                } catch (error) {
                    console.error("Erro ao processar a resposta do Google:", error);
                }
            }

            window.onload = function () {
                // Inicializando o Google Sign-In
                google.accounts.id.initialize({
                    client_id: "527545051913-i5fu8efhe0v84f1j627mg3klqoksl0cj.apps.googleusercontent.com", // Substitua com seu client_id do Google
                    callback: handleCredentialResponse  // Função que será chamada após login
                });
    
                // Renderiza o botão do Google Sign-In
                google.accounts.id.renderButton(
                    document.getElementById("buttonDiv"),
                    {
                        theme: "outline", 
                        size: "large", 
                        type: "standard", 
                        shape: "pill", 
                        text: "continue_with", 
                        logo_alignment: "left"
                    }
                );
            }
        </script>
        <div id="step1" style="display:block;">
            <!-- Step 1 - Informações Pessoais -->
            <div class="form-box">
                <label>Procedimentos de login</label>
                <hr>
                <div class="account-info">
                    <div id="buttonDiv"></div>
                    <p id="email"></p>
                    <span id="cima">O nome, a foto e o e-mail associados à sua Conta do Google serão registrados quando você fizer upload de arquivos e enviar este formulário.</span>
                    <hr>
                    <span id="indica">* Indica uma pergunta obrigatória</span>
                </div>
            </div>

            <div class="form-box">
                <img src="/static/css/image/logo.png" alt="Logo da Empresa" class="logo">
            </div>

            <!-- Nome Completo -->
            <div class="form-box">
                <label>Nome Completo:  <span class="asterisco">*</span></label>
                <text>Preencha seu Nome Completo sem Abreviar conforme está no RG</text>
                <input type="text" name="nome" required placeholder="Sua resposta">
            </div>

            <!-- Data de Nascimento -->
            <div class="form-box">
                <label>Data de Nascimento:  <span class="asterisco">*</span></label>
                <text>Preencha sua Data de Nascimento</text>
                <input type="date" name="nascimento" required>        
            </div>

            <!-- CPF -->
            <div class="form-box">
                <label>CPF:  <span class="asterisco">*</span></label>
                <text>Preencha somente com números sem pontuação</text>
                <input type="text" name="cpf" required placeholder="Sua resposta">       
            </div>

            <!-- RG -->
            <div class="form-box">
                <label>RG:  <span class="asterisco">*</span></label>
                <text>Preencha seu RG com Orgão Expedidor (Ex. SSP-PR / SEJUSP-PR)</text>
                <input type="text" name="rg" required placeholder="Sua resposta">
            </div>

            <!-- PIS -->
            <div class="form-box">
                <label>PIS:  <span class="asterisco">*</span></label>
                <text>Preencha somente o número de PIS, você encontra ele na carteira de trabalho ou no App Caixa Tem</text>
                <input type="text" name="pis" required placeholder="Sua resposta">
            </div>

            <!-- Endereço -->
            <div class="form-box">
                <label>Endereço:  <span class="asterisco">*</span></label>
                <text>Preencha com Endereço Completo e Bairro (Rua, Av, TV, Praça...)</text>
                <input type="text" name="endereco" required placeholder="Sua resposta">
            </div>

            <!-- CEP -->
            <div class="form-box">
                <label>CEP:  <span class="asterisco">*</span></label>
                <input type="text" name="cep" required placeholder="Sua resposta">
            </div>

            <!-- Cidade -->
            <div class="form-box">
                <label>Cidade:  <span class="asterisco">*</span></label>
                <input type="text" name="cidade" required placeholder="Sua resposta">
            </div>

            <!-- Estado -->
            <div class="form-box">
                <label>Estado:  <span class="asterisco">*</span></label>
                <input type="text" name="estado" required placeholder="Sua resposta">
            </div>

            <!-- Celular -->
            <div class="form-box">
                <label>Celular:  <span class="asterisco">*</span></label>
                <input type="text" name="celular" required placeholder="Sua resposta">
            </div>

            <!-- Email -->
            <div class="form-box">
                <label>Email:  <span class="asterisco">*</span></label>
                <input type="text" name="email" required placeholder="Sua resposta">
            </div>

            <!-- Estado Civil -->
            <div class="form-box">
                <label>Estado Civil:  <span class="asterisco">*</span></label>
                <div>
                    <input type="radio" name="estado_civil" value="Solteiro(a)" required> Solteiro(a)<br>
                    <input type="radio" name="estado_civil" value="Casado(a)"> Casado(a)<br>
                    <input type="radio" name="estado_civil" value="Viúvo(a)"> Viúvo(a)<br>
                    <input type="radio" name="estado_civil" value="Divorciado(a)"> Divorciado(a)<br>
                    <input type="radio" name="estado_civil" value="União Estável"> União Estável
                </div>
            </div>

            <!-- Raça/Cor -->
            <div class="form-box">
                <label>Raça/Cor:  <span class="asterisco">*</span></label>
                <text>Preencha de Acordo com a Certidão de Nascimento</text>
                <div>
                    <input type="radio" name="raca_cor" value="Branca" required> Branca<br>
                    <input type="radio" name="raca_cor" value="Preta"> Preta<br>
                    <input type="radio" name="raca_cor" value="Parda"> Parda<br>
                    <input type="radio" name="raca_cor" value="Amarela"> Amarela<br>
                    <input type="radio" name="raca_cor" value="Indígena"> Indígena
                </div>
            </div>

            <!-- Uniforme Camisa Social -->
            <div class="form-box">
                <label>Uniforme Camisa Social:  <span class="asterisco">*</span></label>
                <div>
                    <input type="radio" name="camisa_social" value="PP" required> PP<br>
                    <input type="radio" name="camisa_social" value="P"> P<br>
                    <input type="radio" name="camisa_social" value="M"> M<br>
                    <input type="radio" name="camisa_social" value="G"> G<br>
                    <input type="radio" name="camisa_social" value="GG1"> GG1<br>
                    <input type="radio" name="camisa_social" value="GG2"> GG2<br>
                    <input type="radio" name="camisa_social" value="GG3"> GG3
                </div>
            </div>

            <!-- Uniforme Polo -->
            <div class="form-box">
                <label>Uniforme Polo:  <span class="asterisco">*</span></label>
                <div>
                    <input type="radio" name="camisa_polo" value="PP" required> PP<br>
                    <input type="radio" name="camisa_polo" value="P"> P<br>
                    <input type="radio" name="camisa_polo" value="M"> M<br>
                    <input type="radio" name="camisa_polo" value="G"> G<br>
                    <input type="radio" name="camisa_polo" value="GG1"> GG1<br>
                    <input type="radio" name="camisa_polo" value="GG2"> GG2<br>
                    <input type="radio" name="camisa_polo" value="GG3"> GG3<br>
                    <input type="radio" name="camisa_polo" value="GG4"> GG4
                </div>
            </div>

            
            <div class="form-box">
                <label for="cnh">Foto da CNH ou RG: <span class="asterisco">*</span></label>
                <text>Foto ou PDF (Obrigatório frente e verso do documento.)</text>
                <br><br>
            
                <!-- Opção de upload manual -->
                <input type="file" id="cnh" name="cnh" accept="image/*,application/pdf" required onchange="updateFileName('cnh')">
                <label for="cnh" class="custom-file-upload">
                    <i class="fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-cnh"></div>
                <!-- Parte onde o texto "ou" só aparece em mobile -->
                <div id="textoMobile" style="display:none;">
                    <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou</text>
                </div>

                <script>
                    // Verifica se o dispositivo é mobile
                    function verificarDispositivo() {
                        const textoMobile = document.getElementById('textoMobile');
                        const isMobile = window.innerWidth <= 768; // Define o ponto de quebra para mobile, 768px ou menos
                        if (isMobile) {
                            textoMobile.style.display = 'inline';
                        } else {
                            textoMobile.style.display = 'none';
                        }
                    }

                    // Chama a função ao carregar a página
                    window.onload = verificarDispositivo;

                    // Chama a função quando a janela é redimensionada
                    window.onresize = verificarDispositivo;
                </script>

            
                <!-- Botão para abrir a câmera -->
                <br><br>
                <button class="btn-captura"type="button" onclick="abrirCamera()" style="margin-left: 14px;">📷 Capturar imagem</button>
            
                <!-- Área da câmera -->
                <div id="cameraContainer" style="display: none; position: relative;">
                    <video id="video" autoplay style="width: 100%; max-width: 400px; border-radius: 10px;"></video>
                    <div class="overlay"></div>
                    <button type="button" onclick="capturarFoto()">📸 Capturar</button>
                </div>
            
                <!-- Elementos para armazenar a imagem capturada -->
                <canvas id="canvas" style="display: none;"></canvas>
                <img id="fotoCapturada" style="display: none; width: 100%; max-width: 400px; border-radius: 10px; margin-top: 10px;">
                
                <!-- Input oculto para enviar a imagem para o backend -->
                <input type="hidden" id="imagemBase64Frente" name="imagemBase64Frente">
                <input type="hidden" id="imagemBase64Verso" name="imagemBase64Verso">
            </div>
            
            <script>
                let videoStream = null;
                let etapaFoto = "frente";  // Variável para controlar qual foto (frente ou verso) está sendo tirada
            
                // Função para detectar se o usuário está em um dispositivo móvel
                function isMobile() {
                    return /Mobi|Android/i.test(navigator.userAgent);
                }
            
                // Mostrar ou esconder a opção de câmera dependendo do dispositivo
                function ajustarVisibilidadeCamera() {
                    const cameraButton = document.querySelector(".btn-captura");
                    if (isMobile()) {
                        cameraButton.style.display = "inline-block";  // Exibe o botão da câmera em dispositivos móveis
                    } else {
                        cameraButton.style.display = "none";  // Esconde o botão da câmera em desktops
                    }
                }
            
                // Executar a verificação ao carregar a página
                window.onload = function() {
                    ajustarVisibilidadeCamera();
                };
            
                function abrirCamera() {
                    const video = document.getElementById('video');
                    const cameraContainer = document.getElementById('cameraContainer');
                    
                    cameraContainer.style.display = 'block';
            
                    // Acessar a câmera
                    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
                        .then(stream => {
                            video.srcObject = stream;
                            videoStream = stream;
                        })
                        .catch(err => {
                            console.error("Erro ao acessar a câmera:", err);
                            alert("Erro ao acessar a câmera!");
                        });
                }
            
                function capturarFoto() {
                    const video = document.getElementById('video');
                    const canvas = document.getElementById('canvas');
                    const fotoCapturada = document.getElementById('fotoCapturada');
                    const inputImagemBase64Frente = document.getElementById('imagemBase64Frente');
                    const inputImagemBase64Verso = document.getElementById('imagemBase64Verso');
            
                    const ctx = canvas.getContext('2d');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
            
                    // Captura a imagem
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            
                    // Converte para formato Base64
                    const imagemBase64 = canvas.toDataURL('image/png');
            
                    // Exibe a imagem capturada
                    fotoCapturada.src = imagemBase64;
                    fotoCapturada.style.display = 'block';
            
                    // Salva a imagem no input oculto dependendo da etapa
                    if (etapaFoto === "frente") {
                        inputImagemBase64Frente.value = imagemBase64;
                        alert("Foto da frente capturada. Agora, tire a foto do verso.");
                        etapaFoto = "verso";  // Muda para a próxima etapa (captura do verso)
            
                        // Processa o texto da imagem para verificar CPF (frente)
                        realizarOCR(imagemBase64, "frente");
                    } else if (etapaFoto === "verso") {
                        inputImagemBase64Verso.value = imagemBase64;
                        alert("Foto do verso capturada. Agora, por favor, confirme se deseja salvar as fotos.");
            
                        // Processa o texto da imagem para verificar CPF (verso)
                        realizarOCR(imagemBase64, "verso");
            
                        // Exibe a janela de confirmação para salvar as fotos
                        confirmarSalvarFotos();
                    }
                }
            
                function confirmarSalvarFotos() {
                    const confirmar = confirm("Você está satisfeito com as fotos tiradas? Clique em 'OK' para salvar ou 'Cancelar' para tirar novamente.");
            
                    if (confirmar) {
                        // Salva as fotos e fecha a câmera
                        alert("Fotos salvas com sucesso!");
                        fecharCamera();  // Fecha a câmera
                    } else {
                        // Reinicia o processo, permitindo que o usuário tire as fotos novamente
                        alert("Você pode tirar as fotos novamente.");
                        etapaFoto = "frente";  // Reseta para a captura da frente
                        abrirCamera();  // Reabre a câmera para tirar as fotos novamente
                    }
                }
            
                // Função para processar o OCR e tentar encontrar um CPF
                function realizarOCR(imagemBase64, lado) {
                    Tesseract.recognize(
                        imagemBase64,
                        'por',  // idioma português
                        {
                            logger: (m) => console.log(m),  // Para monitorar o progresso
                        }
                    ).then(({ data: { text } }) => {
                        console.log('Texto reconhecido:', text);
            
                        // Regex para tentar encontrar o CPF
                        const regexCPF = /\d{3}\.\d{3}\.\d{3}-\d{2}/;
                        const cpfEncontrado = text.match(regexCPF);
            
                        if (cpfEncontrado) {
                            alert(`CPF encontrado no ${lado}: ${cpfEncontrado[0]}`);
                            // Aqui você pode fazer a validação ou o envio do CPF, conforme sua lógica
                        } else {
                            alert(`CPF não encontrado no ${lado}.`);
                        }
                    });
                }
            
                // Função para parar a câmera
                function fecharCamera() {
                    const video = document.getElementById('video');
                    if (videoStream) {
                        videoStream.getTracks().forEach(track => track.stop());  // Parando todas as tracks da câmera
                    }
                    document.getElementById('cameraContainer').style.display = 'none';  // Oculta a câmera
                }
            </script>
            
                
                <style>
                    /* Estilo do retângulo para alinhar a foto da CNH */
                    .overlay {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 250px;  /* Ajuste de acordo com o tamanho da CNH */
                        height: 150px;  /* Ajuste de acordo com o tamanho da CNH */
                        border: 3px solid red;
                        transform: translate(-50%, -50%);
                        background: rgba(255, 0, 0, 0.2);
                    }
                
                    .overlay.boost {
                        border-color: green;
                    }
                </style>
                
                
            


            <!-- Primeiro Emprego -->
            <div class="form-box">
                <label>Primeiro Emprego? <span class="asterisco">*</span></label>
                <div>
                    <input type="radio" name="primeiro_emprego" value="Sim" required> Sim<br>
                    <input type="radio" name="primeiro_emprego" value="Não"> Não
                </div>
            </div>
            <div class="form-box">
                <label>Irá utilizar vale tansporte?  <span class="asterisco">*</span></label>
                <div>
                    <input type="radio" name="vale_transporte" value="Sim" required> Sim<br>
                    <input type="radio" name="vale_transporte" value="Não"> Não
                </div>
            </div>
            <!-- Botão para avançar para a Step 2 -->
            <div class="button-container">
                <button type="button" onclick="showStep2()">Proximo</button>
                <button class="btn-limpar" type="reset" onclick="limparArquivos()">Limpar</button>
                
            </div>
            <br><br>
            <text>Nunca envie senhas pelo Formulários Google.</text>
            <div class="center-text">
                <text>Este formulário foi criado em THE BEST MULTISERVICOS E ADMINISTRACAO LTDA.
                    Does this form look suspicious? </text>
            </div>
        </div>
        




        <!-- Step 2 - Upload de Arquivos -->
        <div id="step2" style="display:none;">
            <!--<h2>Step 2: Upload de Arquivos</h2> -->

            <div class="form-box">
                <label>Carteira de Identidade  <span class="asterisco">*</span></label>
                <text>Anexar Foto do Documento Aberto ou Frente e Verso se for RG modelo antigo (Pdf ou Foto)</text>
                <img src="/static/css/image/docs-rg.png" alt="Logo da Empresa" class="logo">
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo1" name="arquivo1" required onchange="updateFileName('arquivo1')">
                <label for="arquivo1" class="custom-file-upload">
                    <i class="fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo1"></div>
            </div>


            <div class="form-box">
                <label>CPF<span class="asterisco">*</span></label>
                <text>Tirar foto da frente do Documento onde estão as informações de número e nome (Pdf ou Foto)</text>
                <br><br>
                <text class="texto-menor">Faça upload de 1 arquivo aceito: PDF, document ou image. O tamanho máximo é de 10 MB.</text>
                <br><br>
                <input type="file" id="arquivo2" name="arquivo2" onchange="updateFileName('arquivo2')">
                <label for="arquivo2" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo2"></div>
            </div>


            <div class="form-box">
                <label>Título de Eleitor  <span class="asterisco">*</span></label>
                <text>Tirar foto da frente e verso do Documento onde estão as informações de número e nome (Pdf ou Foto))</text>
                <br><br>
                <text class="texto-menor">Faça upload de 1 arquivo aceito: PDF, document ou image. O tamanho máximo é de 10 MB.</text>
                <br><br>
                <input type="file" id="arquivo3" name="arquivo3" onchange="updateFileName('arquivo3')">
                <label for="arquivo3" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo3"></div>
            </div>


            
            <div class="form-box">
                <label>Carteira de Habilitação (CNH) Se Tiver  <span class="asterisco">*</span></label>
                <text>Tirar foto da frente e verso do Documento onde estão as informações de número e nome (Pdf ou Foto))</text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo4" name="arquivo4" onchange="updateFileName('arquivo4')">
                <label for="arquivo4" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo4"></div>
            </div>



            <div class="form-box">
                <label>Inscrição no PIS/PASEP<span class="asterisco">*</span></label>
                <text>Tirar foto do cartão do PIS ou basta entrar no aplicativo Caixa Tem</text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo5" name="arquivo5" onchange="updateFileName('arquivo5')">
                <label for="arquivo5" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo5"></div>
            </div>



            <div class="form-box">
                <label>Cartão do SUS  <span class="asterisco">*</span></label>
                <img src="/static/css/image/sus.png" alt="Logo da Empresa" class="logo">
                <text class="texto-menor">Faça upload de 1 arquivo aceito: PDF, document ou image. O tamanho máximo é de 10 MB.</text>
                <br><br>
                <input type="file" id="arquivo6" name="arquivo6" onchange="updateFileName('arquivo6')">
                <label for="arquivo6" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo6"></div>
            </div>



            <div class="form-box">
                <label>Certificado de Alistamento Militar<span class="asterisco">*</span></label>
                <text>Exigido apenas para Homens entre 18 e 45 anos;</text>
                <br><br>
                <text class="texto-menor">Faça upload de 1 arquivo aceito: PDF, document ou image. O tamanho máximo é de 10 MB.</text>
                <br><br>
                <input type="file" id="arquivo7" name="arquivo7" onchange="updateFileName('arquivo7')">
                <label for="arquivo7" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo7"></div>
            </div>



            <div class="form-box">
                <label>Certificado de Escolaridade<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo8" name="arquivo8" onchange="updateFileName('arquivo8')">
                <label for="arquivo8" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo8"></div>
            </div>

    

            <div class="form-box">
                <label>Certidão de Antecedente Criminal Federal Atualizada<span class="asterisco">*</span></label>
                <text>Emitido no site  <a href="https://servicos.pf.gov.br/epol-sinic-publico/" target="_blank" rel="noopener noreferrer">https://servicos.pf.gov.br/epol-sinic-publico/</a></text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo9" name="arquivo9" onchange="updateFileName('arquivo9')">
                <label for="arquivo9" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo9"></div>
            </div>

    

            <div class="form-box">
                <label>Certidão de Antecedente Criminal Estadual Atualizada<span class="asterisco">*</span></label>
                <text>Emitido no site  <a href="https://www.atestados.pr.gov.br/solicitante/validar" target="_blank" rel="noopener noreferrer">https://www.atestados.pr.gov.br/solicitante/validar</a></text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo10" name="arquivo10" onchange="updateFileName('arquivo10')">
                <label for="arquivo10" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo10"></div>
            </div>

    

            <div class="form-box">
                <label>Identificação e cadastro de Estrangeiro - Polícia Federal (Se for o caso)<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo11" name="arquivo11" onchange="updateFileName('arquivo11')">
                <label for="arquivo11" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo11"></div>
            </div>

    

            <div class="form-box">
                <label>Comprovante de Residência<span class="asterisco">*</span></label>
                <text>Água ou Luz (No comprovante tem que conter Rua, Número, Complemento, Bairro, Cidade, Estado, CEP)</text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo12" name="arquivo12" onchange="updateFileName('arquivo12')">
                <label for="arquivo12" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo12"></div>
            </div>

    

            <div class="form-box">
                <label>Registro Profissional Emitido Pelo Orgão de Classe (Se for o Caso)<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo13" name="arquivo13" onchange="updateFileName('arquivo13')">
                <label for="arquivo13" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo13"></div>
            </div>

    

            <div class="form-box">
                <label>Comprovante de Vacinação - Covid-19<span class="asterisco">*</span></label>
                <text>Emitido no site  <a href="https://meususdigital.saude.gov.br/inicio" target="_blank" rel="noopener noreferrer">https://meususdigital.saude.gov.br/inicio</a></text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo14" name="arquivo14" onchange="updateFileName('arquivo14')">
                <label for="arquivo14" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo14"></div>
            </div>

    

            <div class="form-box">
                <label>Currículo Atualizado<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo16" name="arquivo16" onchange="updateFileName('arquivo16')">
                <label for="arquivo16" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo16"></div>
            </div>

    

            <div class="form-box">
                <label>Certidão de Nascimento (caso seja Solteiro(a) / Certidão de Casamento caso seja Casado(a)<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo17" name="arquivo17" onchange="updateFileName('arquivo17')">
                <label for="arquivo17" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo17"></div>
            </div>

    

            <div class="form-box">
                <label>Documentos do Cônjuge RG/CNH; CPF; Grau de Instrução (Apenas para dependência no IR)<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo18" name="arquivo18" onchange="updateFileName('arquivo18')">
                <label for="arquivo18" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo18"></div>
            </div>

    

            <div class="form-box">
                <label>Certidão de Nascimento (ou RG) e CPF dos Filhos (Dep. No IR menores de 2 anos receberão Auxílio Creche).<span class="asterisco">*</span></label>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo19" name="arquivo19" onchange="updateFileName('arquivo19')">
                <label for="arquivo19" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo19"></div>
            </div>

    

            <div class="form-box">
                <label>CTPS Digital (Carteira de Trabalho Digital)<span class="asterisco">*</span></label>
                <text>Tirar foto do cartão do PIS ou basta entrar no aplicativo Caixa Tem</text>
                <br><br>
                <text class="texto-menor">Faça upload de até 5 arquivos aceitos: PDF, document ou image. O tamanho máximo é de 10 MB por item.</text>
                <br><br>
                <input type="file" id="arquivo20" name="arquivo20" onchange="updateFileName('arquivo20')">
                <label for="arquivo20" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Escolher Arquivo
                </label>
                <div class="file-name" id="file-name-arquivo20"></div>
            </div>



            <div class="form-box">
                <label>Foto de Selfie<span class="asterisco">*</span></label>
                <br><br>
                <button type="button" onclick="abrirCameraSelfie()">📸 Tirar Selfie</button>
                <div id="selfieCameraContainer" style="display: none; position: relative; margin-top: 10px;">
                    <video id="videoSelfie" autoplay style="width: 100%; max-width: 400px; border-radius: 10px;"></video>
                    <div class="overlay" id="overlaySelfie"></div>
                    <button type="button" onclick="capturarSelfie()">📸 Capturar Selfie</button>
                </div>
                
                <!-- Elementos para armazenar a imagem capturada -->
                <canvas id="canvasSelfie" style="display: none;"></canvas>
                <img id="fotoCapturadaSelfie" style="display: none; width: 100%; max-width: 400px; border-radius: 10px; margin-top: 10px;">
            </div>
            
            
            
            
            <!-- Botão para Submeter o formulário -->
            <div class="button-container">
                <button class="btn-enviar"type="submit">Enviar Formulário</button>
                <button class="btn-limpar" type="button" onclick="showStep1()">Voltar</button>
                <button class="btn-limpar" type="button" onclick="limparArquivos()">Limpar</button>
            </div>
            <br><br>
            <text>Nunca envie senhas pelo Formulários Google.</text>
            <div class="center-text">
                <text>Este formulário foi criado em THE BEST MULTISERVICOS E ADMINISTRACAO LTDA.
                Does this form look suspicious? Relatório</text>
            </div>
        </div>

        
    </form>
    <!-- Script para atualizar o nome do arquivo -->
    <script>
        function updateFileName(inputId) {
            // Pega o input de arquivo usando o ID
            var input = document.getElementById(inputId);
            
            // Pega o nome do arquivo se existir, caso contrário, exibe uma mensagem padrão
            var fileName = input.files[0] ? input.files[0].name : "Nenhum arquivo selecionado";
            
            // Modifica o conteúdo da div que exibe o nome do arquivo
            // Usamos o ID do input para encontrar a div correta
            document.getElementById("file-name-" + inputId).textContent = fileName;
        }
    </script>
    

    <script>
        // Função para exibir a segunda etapa
        function showStep2() {
            document.getElementById("step1").style.display = "none";  // Esconde o Step 1
            document.getElementById("step2").style.display = "block"; // Exibe o Step 2
        }
        // Função para exibir a Step 1 novamente
        function showStep1() {
            document.getElementById("step2").style.display = "none"; // Esconde Step 2
            document.getElementById("step1").style.display = "block"; // Exibe Step 1
        }

        function limparArquivos() {
            // Seleciona todos os inputs de arquivo
            var inputsArquivo = document.querySelectorAll('input[type="file"]');
            
            // Percorre todos os inputs e limpa seus valores
            inputsArquivo.forEach(function(input) {
                input.value = ""; // Limpa o input de arquivo
                
                // Seleciona a div correspondente que exibe o nome do arquivo e limpa o texto
                var fileNameDiv = document.getElementById("file-name-" + input.id);
                if (fileNameDiv) {
                    fileNameDiv.textContent = ""; // Limpa o nome do arquivo
                }
            });
        
            // Limpa a imagem da câmera e esconde a área da câmera
            var cameraContainer = document.getElementById("cameraContainer");
            var fotoCapturada = document.getElementById("fotoCapturada");
            var canvas = document.getElementById("canvas");
            
            // Esconde a imagem capturada
            fotoCapturada.style.display = "none";
            
            // Limpa a imagem capturada no canvas (se houver)
            var ctx = canvas.getContext("2d");
            ctx.clearRect(0, 0, canvas.width, canvas.height);  // Limpa o canvas
            
            // Limpa o input oculto da imagem base64
            document.getElementById("imagemBase64").value = "";
        
            // Mostra novamente a área da câmera
            cameraContainer.style.display = "block";
        }
        // Função para abrir a câmera da selfie
        function abrirCameraSelfie() {
            var videoSelfie = document.getElementById("videoSelfie");
            var selfieCameraContainer = document.getElementById("selfieCameraContainer");
            selfieCameraContainer.style.display = "block";
            
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: { facingMode: "user" } })
                    .then(function(stream) {
                        videoSelfie.srcObject = stream;
                        // Armazenando a referência do stream para poder interrompê-lo mais tarde
                        window.streamSelfie = stream;
                    })
                    .catch(function(error) {
                        alert("Erro ao acessar a câmera: " + error);
                    });
            } else {
                alert("A câmera não é suportada pelo seu navegador.");
            }
        }

        // Função para capturar a selfie e fechar a câmera
        function capturarSelfie() {
            var canvasSelfie = document.getElementById("canvasSelfie");
            var videoSelfie = document.getElementById("videoSelfie");
            var fotoCapturadaSelfie = document.getElementById("fotoCapturadaSelfie");

            // Desenha o quadro do vídeo no canvas
            canvasSelfie.width = videoSelfie.videoWidth;
            canvasSelfie.height = videoSelfie.videoHeight;
            canvasSelfie.getContext("2d").drawImage(videoSelfie, 0, 0);

            // Converte a imagem capturada para Base64
            var imagemSelfieBase64 = canvasSelfie.toDataURL("image/png");
            fotoCapturadaSelfie.src = imagemSelfieBase64;
            fotoCapturadaSelfie.style.display = "block";

            // Armazena a imagem no campo oculto
            document.getElementById("imagemSelfieBase64").value = imagemSelfieBase64;

            // Cria o link para download da imagem
            var downloadLink = document.getElementById("downloadLink");
            downloadLink.href = imagemSelfieBase64;
            downloadLink.download = "selfie.png";
            downloadLink.style.display = "block"; // Exibe o link para o usuário

            // Para a câmera e fecha o container
            var selfieCameraContainer = document.getElementById("selfieCameraContainer");
            selfieCameraContainer.style.display = "none";
            window.streamSelfie.getTracks().forEach(track => track.stop()); // Interrompe o fluxo de vídeo
        }




    </script>

</body>
</html>